# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Logs
logs/

# Outputs
outputs/

# Python Cache
.pytest_cache/
.mypy_cache/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db